.hnjm{
    color:#000;
    font-weight:900;
    font-size:1.75rem;
}
.example-full-width {
    width: 90%;
    
  }
  .tgh{
    margin-bottom:20px;
    margin-top:10px;
  }
  .hjkl{
    padding:15px 30px;
    background:#000;
    color:#fff;
  }