<section>
  <div id="sect1" class="h-full w-full">
    <div class="honhj">
         <h2 class="Ai text-center text-4xl text-white-900 pt-5">Unlock the Power of AI with Our Development Services</h2>
         <p class="text-center text-xl px-5">Whether you're looking to integrate AI capabilities into your existing applications or build AI-driven products from the ground up, we have the expertise to seamlessly integrate AI into your workflows.</p>
         <button class=" btmy flex mx-auto mt-3 text-black cursor-pointer bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">READ MORE</button> 
   </div>
  </div>
</section>
<!--about-->
<section class="text-gray-600 body-font">
    <div class="container px-3 mx-auto" style="padding-top:5rem;">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-3 text-gray-900">AI Development Services</h1>
          <div class="h-1 w-20 bg-indigo-500 rounded"></div>
          <p class="lg w-full leading-relaxed text-gray-500 py-3 pr-5 pt-5 pb-5 text-justify">In today's rapidly evolving digital landscape, businesses are constantly seeking innovative ways to gain a competitive edge and drive growth. Artificial Intelligence (AI) has emerged as a transformative force,
             revolutionizing industries by enabling automation, enhancing decision-making, and unlocking new opportunities for efficiency and innovation.
             <p-divider></p-divider>
            we specialize in harnessing the power of AI to empower businesses like yours to thrive in the digital age. Our comprehensive suite of AI services is designed to address your unique challenges and capitalize on the vast potential of this groundbreaking technology.</p>
            <button routerLink="/about" class="flex-shrink-0 cursor-pointer text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">Learn More</button>
          </div>
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <img class="h-50 rounded-md cursor-pointer transition ease-in-out delay-150 w-50 object-cover object-center mb-6 px-5  hover:scale-75" src="https://images.pexels.com/photos/8386365/pexels-photo-8386365.jpeg?auto=compress&cs=tinysrgb&w=600" alt="content">
          
        </div>
          </div>
    </div>
  </section>

  <!--Services-->
  <swiper-container loop="true" navigation="true" slides-per-view="4" speed="100" pagination="false" space-between="10">
    <swiper-slide >
        <div class="container px-2 py-3 mx-auto">
            <div class="flex flex-wrap w-full mb-5">
        <div class=" p-4">
            <div class="shadow-xl p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center cursor-pointer mb-6" src="https://images.pexels.com/photos/8386365/pexels-photo-8386365.jpeg?auto=compress&cs=tinysrgb&w=600" alt="content" >
              
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Custom AI Solutions</h2>
              <p class="leading-relaxed text-base">We develop tailor-made AI solutions to address your specific business needs, whether it's automating routine tasks, optimizing processes, or delivering personalized.</p>
            </div>
          </div>
        </div>
        </div>
    </swiper-slide>
    <swiper-slide >
        <div class="container px-2 py-3 mx-auto">
            <div class="flex flex-wrap w-full mb-5">
        <div class=" p-4">
            <div class="shadow-xl p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover cursor-pointer object-center mb-6" src="https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?auto=compress&cs=tinysrgb&w=600" alt="content" >
              
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Machine Learning Development</h2>
              <p class="leading-relaxed text-base">Our team of experts specializes in developing advanced machine learning models that enable your systems to learn from data, adapt to changing environments</p>
            </div>
          </div>
          </div>
          </div>
    </swiper-slide>
    <swiper-slide>
        <div class="container px-2 py-3 mx-auto">
            <div class="flex flex-wrap w-full mb-5">
        <div class="p-4">
            <div class="shadow-xl p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover cursor-pointer object-center mb-6" src="https://images.pexels.com/photos/8386440/pexels-photo-8386440.jpeg?auto=compress&cs=tinysrgb&w=600" alt="content" >
              
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Natural Language Processing</h2>
              <p class="leading-relaxed text-base">Unlock the power of language with our NLP solutions, which enable you to extract insights from unstructured text data, automate content analysis, and enhance customer interactions </p>
            </div>
          </div>
          </div>
          </div>
    </swiper-slide>
    <swiper-slide >
        <div class="container px-2 py-3 mx-auto">
            <div class="flex flex-wrap w-full mb-5">
        <div class="p-4">
            <div class="shadow-xl p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover cursor-pointer object-center mb-6" src="https://images.pexels.com/photos/8721318/pexels-photo-8721318.jpeg?auto=compress&cs=tinysrgb&w=600" alt="content" >
             
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Computer Vision</h2>
              <p class="leading-relaxed text-base">Leverage the latest in computer vision technology to extract valuable information from visual data, and video analysis, and develop innovative applications in fields </p>
            </div>
          </div>
          </div>
          </div>
    </swiper-slide>
    <swiper-slide >
        <div class="container px-2 py-3 mx-auto">
            <div class="flex flex-wrap w-full mb-5">
        <div class=" p-4">
            <div class="shadow-xl p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center cursor-pointer mb-6" src="https://images.pexels.com/photos/8386365/pexels-photo-8386365.jpeg?auto=compress&cs=tinysrgb&w=600" alt="content" >
              
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Custom AI Solutions</h2>
              <p class="leading-relaxed text-base">We develop tailor-made AI solutions to address your specific business needs, whether it's automating routine tasks, optimizing processes, or delivering personalized.</p>
            </div>
          </div>
       </div>
       </div>
    </swiper-slide>
    <swiper-slide >
        <div class="container px-2 py-3 mx-auto">
            <div class="flex flex-wrap w-full mb-5">
        <div class=" p-4">
            <div class="shadow-xl p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover cursor-pointer object-center mb-6" src="https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?auto=compress&cs=tinysrgb&w=600" alt="content" >
              
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Machine Learning Development</h2>
              <p class="leading-relaxed text-base">Our team of experts specializes in developing advanced machine learning models that enable your systems to learn from data, adapt to changing environments</p>
            </div>
          </div>
          </div>
          </div>
    </swiper-slide>
    <swiper-slide >
        <div class="container px-2 py-3 mx-auto">
            <div class="flex flex-wrap w-full mb-5">
        <div class="p-4">
            <div class="shadow-xl p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover cursor-pointer object-center mb-6" src="https://images.pexels.com/photos/8386440/pexels-photo-8386440.jpeg?auto=compress&cs=tinysrgb&w=600" alt="content" >
              
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Natural Language Processing</h2>
              <p class="leading-relaxed text-base">Unlock the power of language with our NLP solutions, which enable you to extract insights from unstructured text data, automate content analysis, and enhance customer interactions </p>
            </div>
          </div>
          </div>
          </div>
    </swiper-slide>
    <swiper-slide >
        <div class="container px-2 py-3 mx-auto">
            <div class="flex flex-wrap w-full mb-5">
        <div class="p-4">
            <div class="shadow-xl p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover cursor-pointer object-center mb-6" src="https://images.pexels.com/photos/8721318/pexels-photo-8721318.jpeg?auto=compress&cs=tinysrgb&w=600" alt="content" >
             
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Computer Vision</h2>
              <p class="leading-relaxed text-base">Leverage the latest in computer vision technology to extract valuable information from visual data, and video analysis, and develop innovative applications in fields</p>
            </div>
          </div>
          </div>
          </div>
    </swiper-slide>
    </swiper-container>


  <!--Testimonials-->
  <section class="text-gray-600 body-font">
    <div class="container px-2 py-16 mx-auto">
      <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">TESTIMONIALS</h1>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full bg-gray-100 p-8 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <p class="leading-relaxed mb-6">"As a leading player in the [industry] industry, staying ahead of the curve is essential for our success. When we decided to explore AI solutions to streamline our operations and enhance our customer experience, we knew we needed a partner who could deliver innovative, scalable solutions tailored to our unique needs."</p>
            <a class="inline-flex items-center">
              <img alt="testimonial" src="https://images.pexels.com/photos/8438918/pexels-photo-8438918.jpeg?auto=compress&cs=tinysrgb&w=600" class="w-12 cursor-pointer h-12 rounded-full flex-shrink-0 object-cover object-center">
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900">John Jorden</span>
                <span class="text-gray-500 text-sm">UI DEVELOPER</span>
              </span>
            </a>
          </div>
        </div>
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full bg-gray-100 p-8 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <p class="leading-relaxed mb-6">With their custom AI solutions, we've been able to automate repetitive tasks, optimize resource allocation, and gain valuable insights from our data, allowing us to make more informed decisions and stay ahead of the competition. Their expertise in machine learning, natural language processing, and predictive analytics has truly transformed the way we do business.</p>
            <a class="inline-flex items-center">
              <img alt="testimonial" src="https://images.pexels.com/photos/8721318/pexels-photo-8721318.jpeg?auto=compress&cs=tinysrgb&w=600" class="cursor-pointer w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900">Alper Kamu</span>
                <span class="text-gray-500 text-sm">DESIGNER</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  

  <!--Blogs-->
  <section id="sec2" class="text-gray-600 body-font">
    <div class="container px-3 py-16  mx-auto">
      <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">BLOGS</h1>
      <div class="flex flex-wrap  -m-4 mb-10">
        <div class="p-4 md:w-1/3">
          <div class="myhn h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            <img class="lg:h-60 md:h-36 w-full object-cover cursor-pointer object-center" src="https://images.pexels.com/photos/17485657/pexels-photo-17485657/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-depicts-how-ai-could-adapt-to-an-infinite-amount-of-uses-it-was-created-by-nidia-dias-as-part-of-the-visualising-ai-pr.png?auto=compress&cs=tinysrgb&w=600" alt="blog">
            <div class="myhn p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">AI Development Services</h2>
              <h1 class="title-font text-lg font-medium text-White mb-3">Collaborative Approach</h1>
              <p class="leading-relaxed mb-3">We partner closely with our clients to understand their unique challenges and objectives, ensuring that our AI solutions are aligned with their goals and requirements. AI solutions are aligned with their goals.</p>
              <div class="flex items-center flex-wrap ">
                <a class="text-indigo-500 inline-flex items-center cursor-pointer md:mb-2 lg:mb-0">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            <img class="lg:h-60 md:h-36 w-full object-cover object-center cursor-pointer" src="https://images.pexels.com/photos/17485706/pexels-photo-17485706/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-visualises-the-input-and-output-of-neural-networks-and-how-ai-systems-perceive-data-it-was-created-by-rose-pilkington.png?auto=compress&cs=tinysrgb&w=600" alt="blog">
            <div class="myhn p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">AI Solutions</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Quality Assurance</h1>
              <p class="leading-relaxed mb-3">Our commitment to quality is unwavering. We employ rigorous testing methodologies to ensure that our AI solutions meet the highest standards of performance, accuracy, and reliability.</p>
              <div class="flex items-center flex-wrap">
                <a class="text-indigo-500 inline-flex items-center cursor-pointer md:mb-2 lg:mb-0">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class=" h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            <img class="lg:h-60 md:h-36 w-full object-cover object-center cursor-pointer" src="https://images.pexels.com/photos/18069696/pexels-photo-18069696/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-illustration-depicts-language-models-which-generate-text-it-was-created-by-wes-cockx-as-part-of-the-visualising-ai-project-l.png?auto=compress&cs=tinysrgb&w=600" alt="blog">
            <div class="myhn p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">AI Development</h2>
              <h1 class="title-font text-lg font-medium text-white mb-3">Continued Support</h1>
              <p class="leading-relaxed mb-3">Our partnership doesn't end with the delivery of the project. We provide ongoing support and maintenance to ensure that your AI applications continue to deliver value long into the future.</p>
              <div class="flex items-center flex-wrap ">
                <a class="text-indigo-500 inline-flex cursor-pointer items-center md:mb-2 lg:mb-0">Learn More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>1.2K
                </span>
                <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                  <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>6
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


  <!--FAQ-->
  <section class="text-gray-600 body-font">
    <div class="container px-24 py-16  mx-auto">
    <p-accordion> 
      <p-accordionTab header="What is Artificial Intelligence (AI)?" [selected]="true"> 
          <p> 
            AI refers to the simulation of human intelligence in machines, enabling them to perform tasks that typically require human intelligence, such as learning, problem-solving, and decision-making.
          </p> 
      </p-accordionTab> 
      <p-accordionTab header="What are the different types of AI?"> 
          <p> 
            AI can be categorized into three types: Narrow AI (Weak AI), General AI (Strong AI), and Superintelligent AI. Narrow AI is focused on performing specific tasks, General AI possesses human-like intelligence across a wide range of tasks, and Superintelligent AI surpasses human intelligence in every aspect.
          </p> 
      </p-accordionTab> 
      <p-accordionTab header="How does AI learn?"> 
          <p> 
            AI learns through various techniques, including supervised learning, unsupervised learning, reinforcement learning, and deep learning. These methods involve training algorithms on labeled data, unlabeled data, rewards, or feedback to improve performance over time.
          </p> 
      </p-accordionTab> 
      <p-accordionTab header="What are some applications of AI?"> 
        <p> 
          AI has numerous applications across industries, including healthcare (diagnosis, personalized treatment), finance (fraud detection, algorithmic trading), transportation (autonomous vehicles), customer service (chatbots, virtual assistants), and manufacturing (predictive maintenance, quality control).
          </p> 
    </p-accordionTab> 
    <p-accordionTab header="What are the ethical concerns surrounding AI?"> 
      <p> 
        Ethical concerns about AI include issues related to privacy, bias in algorithms, job displacement due to automation, autonomous weapons, and the potential for AI systems to make decisions with unforeseen consequences.
      </p> 
  </p-accordionTab> 
  <p-accordionTab header="How is AI different from Machine Learning (ML) and Deep Learning (DL)?"> 
    <p> 
      AI is the broader concept of creating intelligent machines, while Machine Learning is a subset of AI that focuses on enabling machines to learn from data without being explicitly programmed. Deep Learning is a subset of Machine Learning that uses neural networks with many layers to learn representations of data.
    </p> 
</p-accordionTab> 
  </p-accordion>
</div>
</section>
  